.App {
	background-color: #191414;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.App.loggedIn {
	height: 100%;
	padding-bottom: 30px;
}

@media (max-width: 320px) {
	.App.loggedIn h1 {
		font-size: 2rem;
	}
}

@media (max-width: 767px) {
	.App.loggedIn h1 {
		font-size: 2.5rem;
	}
}