.btn {
	background-color: #1db954;
	color: #fff;
	border: 1px solid #1db954;
    font-size: .85rem;
    border-radius: 5px;
    padding: 20px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    display: block;
    margin: 10px;
}

.btn:hover {
    background-color: #04A03B;
}

.fa {
    font-size: 1.5rem;
    vertical-align: middle;
}

.btn.github {
    background-color: #fff;
    color: #000;
}

.btn.github:hover {
    background-color: #ddd;
}

.btnSpotify {
    composes: btn;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: transparent;
    border-color: #04a03b;
    border: 1px solid #04a03b;
    color: #04a03b;
}

.btnSpotify:hover {
    color: #fff;
}

@media (max-width: 767px) {
    .btn {
        padding-top: 16px;
    }

    .btn img {
        display: none;
    }
}