.chartItem {
	align-items: center;
	background-color: #1db954;
	border: 1px solid transparent;
	display: flex;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 5px;
}

.position {
	display: flex;
	flex: 0 0 20%;
	font-weight: 700;
	font-size: 1.75rem;
	justify-content: center;
}

.title {
	font-weight: 700;
	margin-bottom: 5px;
}

.artists {
	font-size: .9rem;
	margin-top: 5px;
}

.coverArt {
	flex: 0 0 18.5%;
	position: relative;
}

.coverArt:hover {
	cursor: pointer;
}

.coverArt:after {
	content: '\A';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	transition: all .15s;
	-webkit-transition: all .15s;
}

.chartItem:hover .coverArt:after {
	opacity: 1;
}

.chartItem:hover .coverArt:after {
	opacity: 1;
}

.isPlaying.coverArt:after {
	opacity: 1;
}

.icon {
	position: relative;
	opacity: 0;
	transition: opacity .3s, top .3s;
	color:  #fff;
	font-size: 2rem;
	z-index: 1;
}

.isPlaying .icon,
.chartItem:hover .icon {
	opacity: 1;
}

@media (max-width: 767px) {
	.chartItem {
		width: 280px;
		margin: 10px auto;
	}

	.position {
		font-size: 1rem;
		min-width: 50px;
		flex: 0 0 10%;
	}

	.coverArt {
		display: flex;
		max-width: 72px;
		margin-right: 20px;
	}

	.coverArt img {
		width: 72px;
		height: 72px;
	}

	.coverArt:after {
		content: '\A';
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
		opacity: 0;
		transition: all .15s;
		-webkit-transition: all .15s;
	}

	.icon {
		left: -50px;
		top: 20px;
	}
}

@media only screen and 
(min-device-width: 768px) and 
(max-device-width: 1024px) and 
(orientation: portrait) {
	.icon {
		left: 50px;
		top:  -85px;
	}

	.coverArt {
		height: 128px;
		margin-right: 20px;
	}
}

@media (min-width: 992px) {
	.coverArt {
		width: 128px;
		height: 128px;
	}

	.icon {
		left: 50px;
		top: -85px;
	}

	.songDetails {
		flex: 0 0 40%;
		margin-left: 50px;
	}
}