.coverArt {
	flex: 0 0 30%;
	position: relative;
}

.coverArt:hover {
	cursor: pointer;
}

.coverArt:after {
	content: '\A';
	position: absolute;
	width: 64%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	transition: all .15s;
	-webkit-transition: all .15s;
}

.isPlaying.coverArt:after {
	opacity: 1;
}

.icon {
	position: relative;
	opacity: 0;
	transition: opacity .3s, top .3s;
	color:  #fff;
	font-size: 2rem;
	z-index: 1;
}

.isPlaying .icon,
.chartItem:hover .icon {
	opacity: 1;
}

@media (max-width: 767px) {
	.coverArt {
		display: flex;
		flex: 0 0 30%;
	}

	.coverArt:after {
		content: '\A';
		position: absolute;
		width: 82%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
		opacity: 0;
		transition: all .15s;
		-webkit-transition: all .15s;
	}

	.icon {
		left: -80px;
		top:  50px;
	}
}

@media (min-width: 992px) {
	.coverArt {
		width: 128px;
		height: 128px;
	}

	.icon {
		left: -75px;
		top:  -50px;
	}
}