$background-color: #191414;
$item-color: #1db954;

body, 
html {
	height: 100vh;
}

.text-white {
	color: #fff;
}

h1 {
	color: $item-color;
	text-align: center;
	font-size: 5rem;
	margin-bottom: 1rem;
}

.btn {
	background-color: $item-color;
	color: #fff;
	border: 1px solid $item-color;
    font-size: 12px;
    line-height: 1;
    border-radius: 500px;
    padding: 0 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    display: block;
    margin: .5rem 0;

    &:hover {
    	background-color: darken($item-color, 10%);
    }

    &.github {
    	background-color: #fff;
    	color: #000;

    	&:hover {
    		background-color: darken(#fff, 15%);
    	}
    }

    img {
    	position: relative;
    	top: 10px;
    	margin-left: 5px
    }
}

.App {
	background-color: $background-color;
	display: flex;
	justify-content: center;
	height: 100vh;

	&.logged-in {
		height: 100%;
	}
}

.LoginScreen {
	color: #fff;
	padding: 5rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.chart-item {
	display: flex;
	background-color: $item-color;
	border: 1px solid transparent;
	min-width: 650px;
	margin-bottom: 5px;
    align-items: center;

	.position {
		font-weight: 700;
		font-size: 1.75rem;
		align-items: center;
		justify-content: center;
		display: flex;
		min-width: 100px;
	}
}

@media (max-width: 767px) {
	.chart-item {
		min-width: 300px;
		width: 90%;
		margin: 10px auto;

		img {
			width: 64px;
			height: 64px;
		}

		.position {
			min-width: 70px;
		}

		.songDetails {
			padding: 0 30px;
		}
	}

	.App.logged-in {
		h1 {
			font-size: 2.5rem;
		}
	}

	.btn {
		padding-top: 16px;
	}

	.btn img {
		display: none;
	}
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}