.App {
	background-color: #555;
	display: flex;
	justify-content: center;
}

.chart-item {
	display: flex;
	background-color: #fff;
	border: 1px solid transparent;
	width: 600px;
	margin-bottom: 5px;

	.position {
		font-weight: 700;
		font-size: 1.75rem;
		align-items: center;
		justify-content: center;
		display: flex;
		width: 100px;
	}
}